
# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.idea
.idea/
.vscode/

# Flutter/Dart specific
/build/
/ios/
/android/
/web/
/linux/
/macos/
/windows/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/doc/api/
/coverage/
flutter_*.png
*.iml
*.ipr
*.iws

# Sensitive information
secrets.json
.env

# Android
/android/app/src/main/assets/flutter_assets/
/android/app/build/
/android/.gradle/
/android/local.properties
/android/key.properties
/android/app/google-services.json
